
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Products</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/app.js"></script>
</head>
<body>
    <div class="main" ng-controller="ProductCtrl">
        <form name="urunekle">
            <input type="text" placeholder="Ürün Adı" name="urunadi" ng-model="yeni.urunAdi" required minlength="3" /><br />

            <label style="color:red" ng-show="!urunekle.urunadi.$valid && urunekle.urunadi.$dirty">Lütfen en az 3 karakter giriniz</label><br />

            <input type="number" placeholder="Fiyat" name="fiyat" ng-model="yeni.fiyat" required min="0.1" max="999" /><br />

            <label style="color:red" ng-show="!urunekle.fiyat.$valid && urunekle.fiyat.$dirty">Lütfen 0-999 aralığında giriniz</label><br />

            <input type="button" class="btn btn-success" value="Ekle" ng-click="ekle()" ng-show="urunekle.$valid" />
        </form>
        <br />
        <input type="text" placeholder="Ara..." ng-model="txtara.urunAdi" />
        <ul>
            <li ng-repeat="item in urunler | filter:txtara track by item.id">{{item.urunAdi}} - {{item.fiyat}} ₺
                <input type="button" class="btn btn-danger" value="Sil" ng-click="sil(item.id)" />
            </li>
        </ul>
    </div>
</body>
</html>