
@{
	ViewBag.Title = "Index";
	//Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{
	<style type="text/css">
		body {
			background-color: #e0680d !important;
		}
	</style>
}

<div>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porta orci a metus mattis venenatis at vel urna. Maecenas diam dui, suscipit eu interdum vitae, euismod et mi. Etiam ornare quam tellus, in malesuada magna lobortis faucibus. Sed tristique aliquam libero, in rutrum urna varius sit amet. Vestibulum rhoncus bibendum dui, non rutrum turpis tempus at. Phasellus congue dapibus massa nec dapibus. Fusce posuere nisi rhoncus imperdiet tincidunt. Nam laoreet ante at tincidunt viverra. Aliquam sollicitudin, est sit amet pellentesque dapibus, nibh dui tincidunt ipsum, non accumsan lacus massa eu odio. Vestibulum imperdiet nisl erat, nec fermentum justo facilisis vel. Ut sapien mauris, consequat quis tellus at, pharetra volutpat nunc. Etiam dapibus et nibh non tristique. Nullam nulla ex, bibendum nec tincidunt id, placerat vel nulla. Suspendisse tempor interdum dolor, eu interdum libero vulputate ac. Fusce a semper lacus.
</div>

@{
	Html.RenderAction("UrunGetir");
}