
@{
	ViewBag.Title = "Products Index";
}

<br />
<br />
<br />

<div class="container">
	<div class="row"></div>
	<div class="row">
		<div class="col-md-6">
			<select id="cmbCategory" class="form-control">
				@*<option value="1">a</option>
				<option value="2">b</option>
				<option value="3">c</option>*@
			</select>
		</div>
	</div>
	
	<div class="row" id="resultdiv">
		<div class="col-md-12">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Product Name</th>
						<th>Category Name</th>
						<th>Quantity per Unit</th>
						<th>Unit Price</th>
						<th>Units in Stock</th>
						<th>Units on Order</th>
						<th>Reorder Level</th>
						<th>Discontinued</th>
						<th>Added Date</th>
						<th>Supplier Name</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody id="resultbody"></tbody>
			</table>
		</div>
	</div>

</div>

@section scripts
{
	<script>
		$(function() {
			function init() {
				$.ajax({
					url: "@Url.Action("GetAllCategories", "Product")",
					method: "get",
					dataType: "json"
				}).done(function(e) {
					//console.log(e);
					if (e.success) {
						$("#cmbCategory").empty();
						$("#cmbCategory")
							.append($("<option></option>")
							.attr("value", 0)
							.text("Kategorisi yok"));
						$.each(e.data,
							function(key, value) {
								$("#cmbCategory")
									.append($("<option></option>")
									.attr("value", value.CategoryID)
									.text(value.CategoryName));
							});
					}
					});

				$.ajax({
					url: "@Url.Action("GetAllProducts","Product")",
					method: "get",
					dataType: "json"
				}).done(function(e) {
					if (e.success) {
						renderData(e.data);
						$("#resultdiv").show(500);
					} else {
						alert(e.message);
					}
				});
			}

			//$("#cmbCategory").change(function() {
			//	var id = $(this).val(); // "#cmbCategory"
			//	console.log(id);
			//});
			$("#cmbCategory").change(function() {
				var id = $(this).val(); // "#cmbCategory"
				console.log($("#cmbCategory option:selected").val());
				
			});


			function renderData(data) {
				$("#resultbody").empty();
				$.each(data,
					function(key, value) {
						var tr = document.createElement("tr");
						var th = document.createElement("th");
						th.innerText = key + 1;
						var td1 = document.createElement("td");
						td1.innerText = value.ProductName;
						var td2 = document.createElement("td");
						td2.innerText = value.CategoryName;
						var td3 = document.createElement("td");
						td3.innerText = value.QuantityPerUnit;
						var td4 = document.createElement("td");
						td4.innerText = value.UnitPriceFormatted;
						var td5 = document.createElement("td");
						td5.innerText = value.UnitsInStock;
						var td6 = document.createElement("td");
						td6.innerText = value.UnitsOnOrder;
						var td7 = document.createElement("td");
						td7.innerText = value.ReorderLevel;
						var td8 = document.createElement("td");
						td8.innerText = value.Discontinued.toString();
						var td9 = document.createElement("td");
						td9.innerText = value.AddedDateFormatted;
						var td10 = document.createElement("td");
						td10.innerText = value.SupplierName;
						var td11 = document.createElement("td");

						@*var a = document.createElement("a");
						$(a).attr("href", "@Url.Action("Detail","Product")" + "/" + value.ProductID)
							.attr("class", "btn btn-info").html("Detail");*@

						var btnSil = document.createElement("input");
						$(btnSil).attr({
							"type": "button",
							"class": "btn btn-danger",
							"value": "Delete",
							"name": value.ProductID
						}).on("click",
							function() {
								var id = this.name;
								$.ajax({
									url: "@Url.Action("Delete","Product")",
									method: "post",
									dataType: "json",
									data: { id: id }
								}).done(function(e) {
									alert(e.message);
									init();
								});
							});

						var btnGuncelle = document.createElement("input");
						$(btnGuncelle).attr({
							"type": "button",
							"class": "btn btn-warning",
							"value": "Update",
							"name": value.ProductID
						}).on("click",
							function() {
								var id = this.name;
								var satir = $(this).parent().parent()[0].childNodes;
								var ProductName = satir[1].innerText;
								var UnitPrice = satir[4].innerText;
								var AddedDate = satir[9].innerText;


								$('#frmAdd').hide();
								$('#frmUpdate').show(600);

							});


						//$(a).appendTo(td11);
						$(td11).append(btnSil).append(btnGuncelle);
						
						$(tr).append(th).append(td1).append(td2).append(td3).append(td4).append(td5).append(td6)
							.append(td7).append(td8).append(td9).append(td10).append(td11)
							.appendTo($("#resultbody"));
					});
			}

			init();
		});
	</script>
}